.contact{
    background-color: #00353B;
    padding-top: 60px;
    padding-bottom: 78px;
}
.contact__inner{
    width: 768px;
    margin: 0 auto;
}
.contact__title{
    padding-top: 15px;
    font-weight: 400;
    font-size: 48px;
    line-height: 57.6px;
    text-align: center;
    color: #fff;
}
.contact__parag{
    padding-top: 29px;
    font-size: 18px;
    font-weight: 400;
    line-height: 27px;
    text-align: center;
    color: #fff;
}
.contact__link{
    display: flex;
    justify-content: center;
    padding-top: 41px;
}
.contact__start{
    background-color: #22A45A;
    color: #fff;
    width: 150px;
    height: 48px;
    padding: 13px 25px;
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin-right: 8px;
}
.contact__us{
    background-color: #fff;
    color: #1F2937;
    width: 150px;
    height: 50px;
    padding: 13px 25px; 
    border-radius: 8px;
    text-align: center;
    text-decoration: none;
    margin-left: 8px;
}